/* landing-video.css */
.homepage-landingvideo-overlay {
  position: relative;
  z-index: 10;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.65)
  );
}
